*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(162, 178, 201);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 7%;
}

.container{
    background-color: white;
    width: 300px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    padding: 15px 15px 15px 15px;

}

.qr-img{
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 20px;
}

.heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(2, 16, 44);
    text-align: center;
    padding: 5px 10px 5px 10px;
}

.para{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    color: rgb(57, 57, 57);
    padding: 15px;
}